@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

:root {}

body {
    margin: 0px;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    background: #313131
}

.tools .colour-field {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
}